---
import Layout from '~/layouts/PageLayout.astro';
import Image from '~/components/common/Image.astro';

const metadata = {
  title: 'Real Estate Law',
};

const post = {
  title: 'Real Estate Law',
  image: '~/assets/images/real-estate.jpg',
  content: `

<p>Real estate transactions involve complex legal considerations that require expert guidance to ensure smooth and successful outcomes. Whether you’re buying, selling, leasing, or developing property, having an experienced legal team by your side is essential to safeguarding your investments. Our Real Estate Law services provide comprehensive legal support for individuals, businesses, and investors navigating the intricate landscape of real estate transactions.</p>

<p>From contract negotiations to zoning compliance, our attorneys have the expertise to handle all aspects of real estate law, helping clients avoid costly disputes and maximize their opportunities.</p>

<h2>Key Services</h2>
<ul>
    <li><strong>Residential & Commercial Transactions</strong> - Legal support for buying, selling, and leasing properties, ensuring compliance and protection in all transactions.</li>
    <li><strong>Real Estate Contracts & Negotiations</strong> - Drafting, reviewing, and negotiating contracts to ensure your interests are protected throughout the deal.</li>
    <li><strong>Land Use & Zoning Compliance</strong> - Assisting with local regulations, rezoning efforts, and land use approvals to facilitate property development.</li>
    <li><strong>Title & Ownership Disputes</strong> - Resolving property disputes related to ownership claims, title defects, and boundary disagreements.</li>
    <li><strong>Landlord-Tenant Law</strong> - Legal guidance for lease agreements, tenant disputes, evictions, and compliance with rental regulations.</li>
    <li><strong>Real Estate Litigation</strong> - Representation in legal disputes arising from property transactions, breaches of contract, or construction issues.</li>
</ul>

<h2>Why Choose Us?</h2>
<p>Our real estate attorneys bring extensive experience in handling complex transactions and disputes. We provide strategic legal solutions to help clients navigate the real estate market with confidence, ensuring that their investments are legally sound and financially beneficial. With a client-focused approach, we prioritize clear communication, efficiency, and risk management in every transaction.</p>
`,
};
---

<Layout metadata={metadata}>
  <section class="py-8 sm:py-16 lg:py-20 mx-auto">
    <article>
      <header class="intersect-once intersect-quarter motion-safe:md:opacity-0 motion-safe:md:intersect:animate-fade">
        <h1
          class="px-4 sm:px-6 max-w-3xl mb-10 mx-auto text-4xl md:text-5xl font-bold leading-tighter tracking-tighter font-heading"
        >
          {post.title}
        </h1>

        {
          post.image ? (
            <Image
              src={post.image}
              class="max-w-full lg:max-w-[900px] mx-auto mb-6 sm:rounded-md bg-gray-400 "
              widths={[400, 900]}
              sizes="(max-width: 900px) 400px, 900px"
              alt="Real Estate Law"
              width={900}
              height={506}
              loading="eager"
              decoding="async"
            />
          ) : (
            <div class="max-w-3xl mx-auto px-4 sm:px-6">
              <div class="border-t " />
            </div>
          )
        }
      </header>
      <div
        class="mx-auto px-6 sm:px-6 max-w-3xl prose prose-md lg:prose-xl prose-headings:font-heading prose-headings:leading-tighter prose-headings:tracking-tighter prose-headings:font-bold prose-a:text-primary prose-img:rounded-md prose-img:shadow-lg mt-8 prose-headings:scroll-mt-[80px] prose-li:my-0"
      >
        <Fragment set:html={post.content} />
      </div>
    </article>
  </section>
</Layout>
