---
import Layout from '~/layouts/PageLayout.astro';
import Image from '~/components/common/Image.astro';

const metadata = {
  title: 'Immigration Law',
};

const post = {
  title: 'Immigration Law',
  image: '~/assets/images/immigration-img.jpg',
  content: `
<p>Navigating immigration laws can be complex and challenging. Our Immigration Law services provide individuals, families, and businesses with expert legal guidance to achieve their immigration goals. Whether you’re seeking a visa, permanent residency, or citizenship, our experienced attorneys offer strategic solutions to simplify the process and protect your rights.</p>

<h2>Key Services</h2>
<ul>
    <li><strong>Family-Based Immigration</strong> - Reunite with loved ones through family-sponsored visas, fiancé(e) visas, and adjustment of status applications.</li>
    <li><strong>Employment-Based Immigration</strong> - Obtain work visas and green cards for professionals, executives, and skilled workers under programs such as H-1B, L-1, EB-1, and EB-2.</li>
    <li><strong>Investor & Entrepreneur Visas</strong> - Secure E-2, EB-5, and other investment-based visas to start or expand your business in the U.S.</li>
    <li><strong>Green Cards & Permanent Residency</strong> - Navigate the complex application process for lawful permanent residency through employment, family sponsorship, or humanitarian relief.</li>
    <li><strong>Citizenship & Naturalization</strong> - Achieve U.S. citizenship through the naturalization process with legal guidance to ensure a smooth transition.</li>
    <li><strong>Deportation Defense & Asylum</strong> - Protect your rights in removal proceedings and seek asylum or other humanitarian protections.</li>
</ul>

<h2>Why Choose Us?</h2>
<p>Our dedicated immigration attorneys provide personalized legal solutions to help individuals and families secure their future in the U.S. We stay updated on evolving immigration laws and advocate for our clients every step of the way.</p>

<p>With our legal expertise, you can confidently navigate the immigration system while we handle the complexities of your case.</p>

`,
};
---

<Layout metadata={metadata}>
  <section class="py-8 sm:py-16 lg:py-20 mx-auto">
    <article>
      <header class="intersect-once intersect-quarter motion-safe:md:opacity-0 motion-safe:md:intersect:animate-fade">
        <h1
          class="px-4 sm:px-6 max-w-3xl mb-10 mx-auto text-4xl md:text-5xl font-bold leading-tighter tracking-tighter font-heading"
        >
          {post.title}
        </h1>
        <p class="max-w-3xl mx-auto mt-4 mb-8 px-4 sm:px-6 text-xl md:text-2xl text-muted text-justify"></p>

        {
          post.image ? (
            <Image
              src={post.image}
              class="max-w-full lg:max-w-[900px] mx-auto mb-6 sm:rounded-md bg-gray-400 "
              widths={[400, 900]}
              sizes="(max-width: 900px) 400px, 900px"
              alt=""
              width={900}
              height={506}
              loading="eager"
              decoding="async"
            />
          ) : (
            <div class="max-w-3xl mx-auto px-4 sm:px-6">
              <div class="border-t " />
            </div>
          )
        }
      </header>
      <div
        class="mx-auto px-6 sm:px-6 max-w-3xl prose prose-md lg:prose-xl prose-headings:font-heading prose-headings:leading-tighter prose-headings:tracking-tighter prose-headings:font-bold prose-a:text-primary prose-img:rounded-md prose-img:shadow-lg mt-8 prose-headings:scroll-mt-[80px] prose-li:my-0"
      >
        <Fragment set:html={post.content} />
      </div>
    </article>
  </section>
</Layout>
