---
import Features2 from '~/components/widgets/Features2.astro';
import Features3 from '~/components/widgets/Features3.astro';
import ItemGrid3 from '~/components/ui/ItemGrid3.astro';
import Hero3 from '~/components/widgets/hero3.astro';
import Stats from '~/components/widgets/Stats.astro';
import Steps2 from '~/components/widgets/Steps2.astro';
import Layout from '~/layouts/PageLayout.astro';

const metadata = {
  title: 'About Us',
};
---

<Layout metadata={metadata}>
  <!-- Hero Widget ******************* -->

  <Hero3
    tagline="About Us"
    image={{
      src: 'https://images.unsplash.com/photo-1559136555-9303baea8ebd?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2070&q=80',
      alt: 'Caos Image',
    }}
  >
    <Fragment slot="title">
      Integrity You Can Trust. Advocacy You Deserve. Outcomes That Matter <br />
      <span class="text-accent dark:text-white highlight"> Backed by Decades of Legal Expertise</span>
    </Fragment>

    <Fragment slot="subtitle">
      At <strong>Capitol Law Partners</strong>, we are committed to delivering exceptional legal services with integrity, dedication, and results-driven advocacy.
      <span class="hidden sm:inline">
        With decades of experience, our firm has built a reputation for excellence in corporate law, business litigation, immigration, and estate planning.
        <br />
        <br />
        Navigating legal challenges can be overwhelming, which is why we prioritize clear communication, strategic solutions, and personalized representation to protect your interests.
      </span>
        <br />
        <br />
      Let us help you move forward with <strong>confidence</strong>.
    </Fragment>
  </Hero3>

  <!-- Stats Widget ****************** -->

  <Stats
    title="Statistics about us"
    stats={[
      { title: 'Offices', amount: '4' },
      { title: 'Employees', amount: '248' },
      { title: 'Templates', amount: '12' },
      { title: 'Awards', amount: '24' },
    ]}
  />

  <!-- Features3 Widget ************** -->

  <Features3
    title="Our Practice Areas"
    subtitle="Expert legal solutions tailored to your needs. From corporate law to immigration and estate planning, our attorneys provide strategic guidance and dedicated advocacy to protect your interests."
    columns={3}
    isBeforeContent={true}
    items={[
      {
        title: 'General Counsel Services',
        description:
          'Seamlessly integrating legal expertise with strategic business solutions to enhance productivity, compliance, and operational efficiency.',
        icon: 'tabler:gavel',
      },
      {
        title: 'Corparate Law',
        description:
          'Expert guidance on corporate governance, mergers and acquisitions, regulatory compliance, and business structuring to ensure legal security and growth.',
        icon: 'tabler:building-skyscraper',
      },
      {
        title: 'Business Immigration',
        description:
          'Providing comprehensive immigration solutions for businesses, ensuring compliance with evolving immigration laws while facilitating global talent mobility.',
        icon: 'tabler:briefcase',
      },
    ]}
  />

  <!-- Features3 Widget ************** -->

  <Features3
    columns={3}
    isAfterContent={true}
    items={[
      {
        title: 'Business Litigation',
        description:
          "Strategic dispute resolution and litigation services to protect your business interests and mitigate risks effectively.",
        icon: 'tabler:arrows-right-left',
      },
      {
        title: 'Estate Planning',
        description: "Tailored estate planning strategies, including wills, trusts, and asset distribution, to secure your legacy and protect your family’s future.",
        icon: 'tabler:home',
      },
      {
        title: 'Real Estate',
        description:
          'Navigating complex real estate transactions with confidence—legal support for acquisitions, leasing, contracts, and property development.',
        icon: 'tabler:building-estate',
      },
      {
        title: 'Immigration',
        description:
          'Comprehensive legal assistance for individuals and businesses navigating immigration laws, visas, green cards, and citizenship processes.',
        icon: 'tabler:globe-filled',
      },
      {
        title: 'Asset Protection',
        description:
          'Implementing legal strategies to safeguard your wealth, business, and personal assets from potential liabilities and risks.',
        icon: 'tabler:affiliate',
      },
      {
        title: 'Corporate Transparency Act',
        description:
          'Ensuring compliance with the latest Corporate Transparency Act regulations, helping businesses maintain transparency while meeting legal obligations.',
        icon: 'tabler:file-certificate',
      },
    ]}
    image={{
      src: 'https://images.unsplash.com/photo-1504384308090-c894fdcc538d?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1740&q=80',
      alt: 'Colorful Image',
    }}
  />

  <!-- Steps2 Widget ****************** -->

  <Steps2
  title="Our Values"
  subtitle="At Capitol Law Partners, our core values define who we are and how we serve our clients. We are committed to providing ethical, client-focused legal services with a dedication to excellence and continuous improvement."
  items={[
    {
      title: 'Client-Centered Advocacy',
      description:
        'We prioritize our clients’ needs, offering personalized legal strategies and dedicated representation to ensure the best possible outcomes.',
    },
    {
      title: 'Excellence & Growth',
      description:
        'We continuously refine our legal expertise, staying ahead of industry trends to provide innovative solutions and superior service.',
    },
    {
      title: 'Integrity & Ethics',
      description:
        'Our firm upholds the highest ethical standards, ensuring honesty, transparency, and fairness in every legal matter we handle.',
    },
  ]}
/>


  <!-- Steps2 Widget ****************** -->

  <Steps2
    title="Achievements"
    subtitle="Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi sagittis, quam nec venenatis lobortis, mi risus tempus nulla, sed porttitor est nibh at nulla."
    isReversed={true}
    callToAction={{
      text: 'See more',
      href: '/',
    }}
    items={[
      {
        title: 'Global reach',
        description: 'Nam malesuada urna in enim imperdiet tincidunt. Phasellus non tincidunt nisi, at elementum mi.',
        icon: 'tabler:globe',
      },
      {
        title: 'Positive customer feedback and reviews',
        description:
          'Cras semper nulla leo, eget laoreet erat cursus sed. Praesent faucibus massa in purus iaculis dictum.',
        icon: 'tabler:message-star',
      },
      {
        title: 'Awards and recognition as industry experts',
        description:
          'Phasellus lacinia cursus velit, eu malesuada magna pretium eu. Etiam aliquet tellus purus, blandit lobortis ex rhoncus vitae.',
        icon: 'tabler:award',
      },
    ]}
  />

  <!-- Features2 Widget ************** -->

  <ItemGrid3
  items={[
    {
      title: 'Virginia Office',
      description: '13873 Park Center Rd, Herndon, VA 20171',
      image: {
        src: '~/assets/images/map-herndon.jpg',
        alt: 'Maps location image',
        href: 'https://www.google.com/maps/place/13873+Park+Center+Rd,+Herndon,+VA+20171',
      },
    },
    {
      title: 'Washington DC Office',
      description: '1200 G Street, NW, STE 800, Washington, DC 20005',
      image: {
        src: '~/assets/images/map-washington.png',
        alt: 'Maps location image',
        href: 'https://www.google.com/maps/place/1200+G+St+NW,+Washington,+DC+20005',
      },
    },
    {
      title: 'New York Office',
      description: '14 Wall Street 20th Floor, New York, NY 10005',
      image: {
        src: '~/assets/images/map-newyork.png',
        alt: 'Maps location image',
        href: 'https://www.google.com/maps/place/14+Wall+St+20th+Floor,+New+York,+NY+10005',
      },
    },
    {
      title: 'İstanbul Office:',
      description: 'Trump Towers, Residence 2901, 34381, Şişli/İstanbul Türkiye',
      image: {
        src: '~/assets/images/map-istanbul-1.png',
        alt: 'Maps location image',
        href: 'https://www.google.com/maps/place/Trump+Towers,+Residence+2901,+34381,+Şişli/İstanbul+Türkiye',
      },
    },
  ]}
  columns={4}
  classes={{
    container: 'gap-4 md:gap-6',
    panel:
      'rounded-lg shadow-[0_4px_30px_rgba(0,0,0,0.1)] backdrop-blur border border-[#ffffff29] bg-white p-6',
    icon: 'w-16 h-16 mb-6 text-primary',
  }}
/>
  <!-- Features2 Widget ************** -->

  <Features2
    title="We are here to help!"
    tagline="Contact us"
    columns={2}
    items={[
      {
        title: 'Chat with us',
        description:
          "Get quick answers and personalized support from our legal team. Whether you have questions about our services or need initial guidance, we're here to assist you.",
        icon: 'tabler:messages',
      },
      {
        title: 'Call us',
        description:
          "Speak directly with our attorneys for expert legal advice and consultation. We’re ready to help you navigate your legal concerns with clarity and confidence. <br /> <br />+1 (202) 440-2272",
        icon: 'tabler:headset',
      },
      
    ]}
  />
</Layout>