---
import Layout from '~/layouts/PageLayout.astro';
import Features5 from '~/components/widgets/Features.astro';

const metadata = {
  title: 'Evaluations',
};
---

<Layout metadata={metadata}>
  <!-- Features Widget *************** -->

  <Features5
    id="Practice Areas"
    tagline="Evaluations"
    title="Select an evaluation to have our attorneys determine your eligibility."
    subtitle="We offer a range of evaluations to help you navigate your legal journey with confidence."
    items={[
      {
        title: 'EB-1',
        description:
          '<a href="/en/evaluations/EB-1" class="hover:underline">The <strong>EB-1 visa</strong> is a first-preference employment-based green card for individuals with <strong>extraordinary ability</strong>, <strong>outstanding professors and researchers</strong>, and <strong>multinational executives or managers</strong>. It provides a fast-track path to permanent residency, often without the need for employer sponsorship.</a>',
        icon: 'tabler:star',
      },
      {
        title: 'EB-2 Visa',
        description:
          '<a href="/en/evaluations/EB-2" class="hover:underline">The <strong>EB-2 visa</strong> is a second-preference employment-based green card for professionals with <strong>advanced degrees</strong> or <strong>exceptional ability</strong> in their field. This category includes individuals who qualify through <strong>PERM labor certification</strong> or the <strong>National Interest Waiver (NIW)</strong>, which allows some applicants to self-petition without employer sponsorship. It offers a strong pathway to U.S. permanent residency for highly skilled professionals.</a>',
        icon: 'tabler:school',
      },
      {
        title: 'O-1 Visa',
        description:
          '<a href="/en/evaluations/O-1" class="hover:underline">The <strong>O-1 visa</strong> is a temporary work visa for individuals with <strong>extraordinary ability</strong> in <strong>science, education, business, athletics, or the arts</strong>. Applicants must demonstrate <strong>sustained national or international recognition</strong> in their field. Unlike many employment visas, the O-1 does not require a labor certification, making it an excellent option for top-tier professionals seeking to work in the U.S.</a>',
        icon: 'tabler:bulb',
      },
      {
        title: 'E1/E2 Visas',
        description:
          '<a href="/en/evaluations/E1-E2" class="hover:underline">The <strong>E-1 and E-2 visas</strong> are <strong>treaty trader and investor visas</strong> designed for individuals from treaty countries engaging in <strong>substantial trade</strong> (E-1) or <strong>making significant investments</strong> in a U.S. business (E-2). These visas provide a renewable, non-immigrant status, allowing entrepreneurs and business owners to live and work in the U.S. while managing their enterprises.</a>',
        icon: 'tabler:briefcase',
      },
    ]}
  />
</Layout>
