---
import Layout from '~/layouts/PageLayout.astro';
import Features5 from '~/components/widgets/Features.astro';

const metadata = {
  title: 'Evaluations',
};
---
<Layout metadata={metadata}>
  <!-- Features Widget *************** -->

  <Features5
    id="Practice Areas"
    tagline="Evaluations"
    title="Select an evaluation to have our attorneys determine your eligibility."
    subtitle="We offer a range of evaluations to help you navigate your legal journey with confidence."
    items={[
      {
        title: 'EB-1',
        description:
          '<a href="/en/evaluations/EB-1" class="hover:underline">Seamlessly integrating legal expertise with strategic business solutions to enhance productivity, compliance, and operational efficiency.</a>',
        icon: 'tabler:gavel',
      },
      {
        title: 'Corporate Law',
        description:
          '<a href="#" class="hover:underline">Expert guidance on corporate governance, mergers and acquisitions, regulatory compliance, and business structuring to ensure legal security and growth.</a>',
        icon: 'tabler:building-skyscraper',
      },
      {
        title: 'Business Immigration',
        description:
          '<a href="#" class="hover:underline">Providing comprehensive immigration solutions for businesses, ensuring compliance with evolving immigration laws while facilitating global talent mobility.</a>',
        icon: 'tabler:briefcase',
      },
      {
        title: 'Business Litigation',
        description:
          '<a href="#" class="hover:underline">Strategic dispute resolution and litigation services to protect your business interests and mitigate risks effectively.</a>',
        icon: 'tabler:arrows-right-left',
      },
      {
        title: 'Estate Planning',
        description: '<a href="#" class="hover:underline">Tailored estate planning strategies, including wills, trusts, and asset distribution, to secure your legacy and protect your family’s future.</a>',
        icon: 'tabler:home',
      },
      {
        title: 'Real Estate',
        description:
          '<a href="#" class="hover:underline">Navigating complex real estate transactions with confidence—legal support for acquisitions, leasing, contracts, and property development.</a>',
        icon: 'tabler:building-estate',
      },
      {
        title: 'Immigration',
        description:
          '<a href="#" class="hover:underline">Comprehensive legal assistance for individuals and businesses navigating immigration laws, visas, green cards, and citizenship processes.</a>',
        icon: 'tabler:globe-filled',
      },
      {
        title: 'Asset Protection',
        description:
          '<a href="#" class="hover:underline">Implementing legal strategies to safeguard your wealth, business, and personal assets from potential liabilities and risks.</a>',
        icon: 'tabler:affiliate',
      },
      {
        title: 'Corporate Transparency Act',
        description:
          '<a href="#" class="hover:underline">Ensuring compliance with the latest Corporate Transparency Act regulations, helping businesses maintain transparency while meeting legal obligations.</a>',
        icon: 'tabler:file-certificate',
      },
    ]}
  />
</Layout>
