---
import Layout from '~/layouts/PageLayout.astro';
import HeroText from '~/components/widgets/HeroText.astro';
import ItemGrid3 from '~/components/ui/ItemGrid3.astro';
import CallToAction from '~/components/widgets/CallToAction.astro';
import Features2 from '~/components/widgets/Features2.astro';
const metadata = {
  title: 'contact',
};
---
<Layout metadata={metadata}>
<HeroText tagline="Find Us" title="Our Locations" />

<ItemGrid3
  items={[
    {
      title: 'Virginia Office',
      description: '13873 Park Center Rd, Herndon, VA 20171',
      image: {
        src: '~/assets/images/map-herndon.jpg',
        alt: 'Maps location image',
        href: 'https://www.google.com/maps/place/13873+Park+Center+Rd,+Herndon,+VA+20171',
      },
    },
    {
      title: 'Washington DC Office',
      description: '1200 G Street, NW, STE 800, Washington, DC 20005',
      image: {
        src: '~/assets/images/map-washington.png',
        alt: 'Maps location image',
        href: 'https://www.google.com/maps/place/1200+G+St+NW,+Washington,+DC+20005',
      },
    },
    {
      title: 'New York Office',
      description: '14 Wall Street 20th Floor, New York, NY 10005',
      image: {
        src: '~/assets/images/map-newyork.png',
        alt: 'Maps location image',
        href: 'https://www.google.com/maps/place/14+Wall+St+20th+Floor,+New+York,+NY+10005',
      },
    },
    {
      title: 'İstanbul Office:',
      description: 'Trump Towers, Residence 2901, 34381, Şişli/İstanbul Türkiye',
      image: {
        src: '~/assets/images/map-istanbul-1.png',
        alt: 'Maps location image',
        href: 'https://www.google.com/maps/place/Trump+Towers,+Residence+2901,+34381,+Şişli/İstanbul+Türkiye',
      },
    },
  ]}
  columns={4}
  classes={{
    container: 'gap-4 md:gap-6',
    panel:
      'rounded-lg shadow-[0_4px_30px_rgba(0,0,0,0.1)] backdrop-blur border border-[#ffffff29] bg-white p-6',
    icon: 'w-16 h-16 mb-6 text-primary',
  }}
/>

<!-- CallToAction Widget *********** -->

<CallToAction
  actions={[
    {
      variant: 'primary',
      text: 'Contact Us',
      href: '/en/contact',
    },
  ]}
>
  <Fragment slot="title">
    Capitol <span class="sm:whitespace-nowrap">Law Patners</span>
  </Fragment>

  <Fragment slot="subtitle">
    Discover the difference our expertise can make in your legal matters. <br class="hidden md:inline" />
    Contact us today!
  </Fragment>
</CallToAction>

<Features2
  title="We are here to help!"
  items={[
    {
      title: 'General support',
      description: `Chat with us for inquiries related to legal consultations, case evaluations, contract reviews, compliance matters, or general questions about our legal services.`,
    },
    {
      title: 'Speak with an Attorney',
      description:
        'Need direct legal advice? Reach out to our attorneys for personalized consultations and professional legal representation.',
    },
    {
      title: 'Immigration Case Assistance',
      description:
        "Need help with your immigration case? Whether you're applying for a visa, green card, citizenship, or facing immigration challenges, our team is here to guide you through the process.",
    },
    {
      title: 'Phone',
      description: '+1 (202) 440-2272',
      icon: 'tabler:headset',
    },
    {
      title: 'Email',
      description: 'reyhan@capitollawpartners.com',
      icon: 'tabler:mail',
    },
    {
      title: 'Whatsapp',
      description: '1234 Lorem Ipsum St, 12345, Miami, EEUU',
      icon: 'tabler:message',
    },
  ]}
/>
</Layout>