---
import { Icon } from 'astro-icon/components';
---

<div
  class="text-[#0D1B2A] text-sm bg-[#dcf0fa] hidden md:flex gap-1 overflow-hidden px-3 py-2 relative text-ellipsis whitespace-nowrap"
>
  <span class="font-semibold px-1 py-0.5 text-m ml-[8.75rem] mr-0.5 rtl:mr-0 rtl:ml-0.5 inline-block">
    We would love to hear from you. Call us at
    <a href="tel:+12024402272" class="hover:text-primary font-bold underline"> (202) 440-2272 </a>
    or fill out our
    <a href="/en/contact" class="hover:text-primary font-bold underline"> Contact Us Form. </a>
  </span>
  <div class="ml-auto flex gap-2 mr-8 items-center">
    <a href="https://www.instagram.com/capitollawpartners/" target="_blank" rel="noopener noreferrer">
      <Icon name="tabler:brand-instagram" class="w-6 h-6  text-[#0D1B2A] hover:text-primary" />
    </a>
    <a href="https://www.facebook.com/CapitolLaw/" target="_blank" rel="noopener noreferrer">
      <Icon name="tabler:brand-facebook" class="w-6 h-6 text-[#0D1B2A] hover:text-primary" />
    </a>
    <a href="https://www.linkedin.com/company/capitollawpartners" target="_blank" rel="noopener noreferrer">
      <Icon name="tabler:brand-linkedin" class="w-6 h-6 text-[#0D1B2A] hover:text-primary" />
    </a>
  </div>
</div>
