---
import Layout from '~/layouts/PageLayout.astro';

import Hero from '~/components/widgets/Hero.astro';
import Note from '~/components/widgets/Note.astro';
import Features from '~/components/widgets/Features.astro';
import Steps from '~/components/widgets/Steps.astro';
import Content from '~/components/widgets/Content.astro';
import BlogLatestPosts from '~/components/widgets/BlogLatestPosts.astro';
import CallToAction from '~/components/widgets/CallToAction.astro';

const metadata = {
  title: 'Capitol Law Partners',
  description: "Capitol Law Partners offers trusted legal counsel in business, immigration, estate planning, and IP law. Schedule your consultation today.",
  ignoreTitleTemplate: true,
};
---

<Layout metadata={metadata}>
  <!-- Hero Widget ******************* -->

  <Hero
    image={{ src: '~/assets/images/high-resolution-photo-of-us-capitol-l.png', alt: 'Us capitol building image' }}
    actions={[
      {
        variant: 'primary',
        text: 'Schedule A Consultation',
        href: '/Schedule',
      },
      { text: 'Free Evaluation', href: '/evaluations', variant: 'primary' },
    ]}
  >
    <!--Your Trusted Advocates in Justice—Dedicated to Prioritizing You. 
  At [Law Firm Name], we combine unwavering commitment and trusted expertise to deliver personalized solutions that put your needs first. -->
    <Fragment slot="title">
      <span class="text-blue-700 highlight"> Your Trusted Partner</span><span class="hidden xl:inline">
        In Legal Solutions</span
      >
    </Fragment>

    <Fragment slot="subtitle">
      <span class="hidden sm:inline">Your Esteemed Advocates—</span>Prioritizing You with Commitment and Time-Honored Expertise in <strong>Business Growth, Immigration Success and Estate Planning.</strong>
    </Fragment>
  </Hero>

  <!-- Note Widget ******************* -->

  <Note />

  <!-- Features Widget *************** -->

  <Features
    id="Practice Areas"
    tagline="Practice Areas"
    title="What We Offer as Capitol Law Partners"
    subtitle="Whether you are navigating immigration, growing your business, or planning your estate, we provide clear, practical solutions built around your personal goals and ensuring your peace of mind."
    items={[
      {
        title: 'Business & Corporate Law',
        description:
          'Comprehensive counsel for businesses of all sizes, from entity formation and contracts to mergers, acquisitions, and disputes.',
        icon: 'tabler:briefcase',
      },
      {
        title: 'Immigration Law',
        description:
          'Guidance through business and employment visas, asylum, family petitions, and removal defense—making immigration processes clearer and more manageable.',
        icon: 'tabler:globe-filled',
      },
      {
        title: 'Trusts and Estates',
        description:
          'Personalized estate plans, wills, and trusts to protect your family’s future and preserve what matters most.',
        icon: 'tabler:affiliate',
      },
      {
        title: 'Outside General Counsel & Advisory Services',
        description:
          'Serving as a trusted legal advisor to startups and growing businesses by providing ongoing counsel on contracts, compliance, employment issues, risk management, and day-to-day operations.',
        icon: 'tabler:file-text',
      },
      {
        title: 'Real Estate Law',
        description:
          'Support for commercial and residential transactions, ensuring your property deals are secure and seamless.',
        icon: 'tabler:home',
      },
      {
        title: 'Intellectual Property Law',
        description:
          'Protection for your ideas, brands, and creative works through trademarks, copyrights, and effective dispute resolution.',
        icon: 'tabler:file-certificate',
      }
    ]}
  />

  <!-- Content Widget **************** -->

  <Content
    isReversed
    tagline="Our team"
    title="Meet Our Attorneys at Capitol Law Partners!"
    items={[
      
      {
        title: 'Business Law',
        description:
          'Advising startups, entrepreneurs, and enterprises on contract negotiations, mergers and acquisitions, and workforce immigration ensuring seamless global expansion and compliance.',
      },
      {
        title: 'Immigration Law',
        description:
          'Provides comprehensive immigration strategies for investors, skilled professionals, and families. Focus areas include E-2, L-1, EB-1, EB-2/NIW as well as marriage-based green cards, fiancé(e) visas, and family petitions.',
      },
      {
        title: 'Trademark Law',
        description:
          'Assists businesses and brand owners with trademark clearance, registration, and enforcement strategies in the U.S., helping protect intellectual property and build long-term brand value.',
      },
    ]}
    image={{
      src: '~/assets/images/cagatay-profile.jpg',
      alt: 'Blueprint Image',
    }}
  >
    <Fragment slot="content">
      <h3 class="text-2xl font-bold tracking-tight sm:text-3xl mb-2">Cagatay Ersoy</h3>
      A graduate of<strong> Columbia Law School</strong>, one of the nation’s premier Ivy League institutions. Expert in strategic legal counsel in <strong>corporate structuring</strong>, <strong>business transactions</strong>, and both <strong>employment and family based immigration</strong>.    </Fragment>

    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50"></div>
    </Fragment>
  </Content>

  <!-- Content Widget **************** -->

  <Content
    isAfterContent
    items={[
      {
        title: 'Business & Corporate Law',
        description: 'Counsels businesses of all sizes on contracts, compliance, risk management, and privacy, ensuring smooth operations and proactive legal strategies.',
      },
      {
        title: 'Litigation',
        description:
          'Defends clients in high-stakes civil litigation, including personal injury, premises liability, and professional liability cases, achieving strategic resolutions.',
      },
      {
        title: 'Data Privacy',
        description:
          "A Certified Information Privacy Professional (CIPP/US), she counsels organizations on data privacy, cybersecurity, and compliance with U.S. privacy laws including HIPAA, GLBA, and evolving state regulations.",
      },
    ]}
    image={{
      src: '~/assets/images/sena-profile-alternate.png',
      alt: 'Blueprint Image',
    }}
  >
    <Fragment slot="content">
      <h3 class="text-2xl font-bold tracking-tight sm:text-3xl mb-2">Sena Sahin</h3>
      A graduate of <strong>South Texas College of Law Houston</strong>, Sena Sahin is a skilled attorney providing strategic legal counsel in <strong>civil litigation, corporate advisory, and data privacy</strong>. Licensed in Washington, D.C., Pennsylvania, and Texas, she guides clients through complex disputes and regulatory landscapes with clarity and precision.
    </Fragment>

    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50"></div>
    </Fragment>
  </Content>

  <Content
  isReversed
  items={[
    
    {
      title: 'Business & Estate Planning',
      description:
        'Advises clients on wills, trusts, partnerships, and entity formation. Offers comprehensive guidance on succession planning and risk management for businesses and families.',
    },
    {
      title: 'Real Estate Law',
      description:
        'Handles a wide range of commercial real estate matters, including acquisitions, leasing, financing, and development projects, ensuring clients’ interests are protected and deals are structured efficiently.',
    },
    {
      title: 'Healthcare Compliance',
      description:
        'Counsels healthcare organizations on operational compliance, management, and regulatory issues, leveraging deep expertise in healthcare law and regulations.',
    },
  ]}
  image={{
    src: '~/assets/images/shafeek-profile-prefered.png',
    alt: 'Blueprint Image',
  }}
>
  <Fragment slot="content">
    <h3 class="text-2xl font-bold tracking-tight sm:text-3xl mb-2">Shafeek Seddiq</h3>
    A seasoned attorney with over <strong>20 years of legal experience</strong>, he provides strategic legal counsel in <strong>estate planning, commercial real estate, and healthcare compliance</strong>. Licensed in Virginia and Washington, D.C., he advises individuals, businesses, and healthcare organizations on complex legal matters.
 </Fragment>

  <Fragment slot="bg">
    <div class="absolute inset-0 bg-blue-50"></div>
  </Fragment>
</Content>

  

  <!-- Steps Widget ****************** -->

  <Steps
    title="Get the Legal Representation You Deserve Today"
    items={[
      {
        title:
          'Step 1: <span class="font-medium">Fill Out The <a href="/contact" class="hover:text-primary underline font-bold"> Contact Us</a> Form</span>',
        description:
          'Start by providing us with details about your legal concerns through our contact form. Our team will review your inquiry and connect you with the right legal expert.',
        icon: 'tabler:file-text',
      },
      {
        title: 'Step 2: <span class="font-medium">Schedule a <a href="/evaluations" class="hover:text-primary underline font-bold"> Free Evaluation </a></span>',
        description:
          "If your case requires a more detailed pre-evaluation, please fill out our free evaluation form. Our legal team will carefully review the information provided and may contact you for additional details or documentation to ensure a thorough understanding of your situation.",
        icon: 'tabler:calendar-event',
      },
      {
        title: 'Step 3: <span class="font-medium"><a href="/Schedule" class="hover:text-primary underline font-bold"> Book a Consultation </a></span>',
        description:
          'Meet with our experienced attorneys for a personalized consultation. Whether you need assistance with corporate law, litigation, immigration, or estate planning, we’ll guide you through your legal options.',
        icon: 'tabler:scale',
      },
      {
        title: 'Ready!',
        description:
          "With a clear legal strategy in place, you're on your way to resolving your case with confidence. Our team will be by your side every step of the way.",
        icon: 'tabler:check',
      },
    ]}
    image={{
      src: 'https://images.unsplash.com/photo-1616198814651-e71f960c3180?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=987&q=80',
      alt: 'Steps image',
    }}
  />
  <!-- HighlightedPosts Widget ******* -->

  <BlogLatestPosts
    title="Find out more in our Blogs"
    information={`Browse our blog for legal insights, practical tips, and timely updates for concise guidance that turns complex questions into confident decisions.`}
  />

  
  <!-- CallToAction Widget *********** -->

  <CallToAction
    actions={[
      {
        variant: 'primary',
        text: 'Contact Us',
        href: '/contact',
      },
    ]}
  >
    <Fragment slot="title">
      Capitol <span class="sm:whitespace-nowrap">Law Partners</span>
    </Fragment>

    <Fragment slot="subtitle">
      Discover the difference our expertise can make in your legal matters. <br class="hidden md:inline" />
      Contact us today!
    </Fragment>
  </CallToAction>
</Layout>
