---
import Layout from '~/layouts/PageLayout.astro';
import TeamCard from '~/components/widgets/teamcard.astro';

const metadata = {
  title: 'Meet Our Team',
  description: 'Meat our team and schedule an appointment with our experts.',
};
---

<Layout metadata={metadata}>
  
  <div class="flex flex-wrap justify-center gap-4">
    <TeamCard
    title="Cagatay Ersoy"
    tagline="Attorney at Law"
    subtitle="Let's Work Together"
    bottomtag="Business Immigration | Business Law | Trademark Law"
    actions={[
      {
        variant: 'primary',
        text: 'Schedule an appointment',
        href: 'https://calendar.app.google/UGuCPvGbEV1b3acWA',
        target: '_blank',
      },
      {
        variant: 'primary',
        text: 'See Bio →',
        href: '/our-team/cagatay',
        target: '_blank',
      },
    ]}
    image={{
      src: '~/assets/images/cagatay-bw.png',
      alt: 'Schedule an appointment',
    }}
  />
  <TeamCard
    title="Sena Sahin"
    tagline="Attorney at Law"
    subtitle="Let's Work Together"
    bottomtag="Litigation | Corporate Law | Immigration Law "
    actions={[
      {
        variant: 'primary',
        text: 'Schedule an appointment',
        href: 'https://calendar.app.google/j5WDBFZPNocPCB7CA',
        target: '_blank',
      },
      {
        variant: 'primary',
        text: 'See Bio →',
        href: '/our-team/sena',
        target: '_blank',
      },
    ]}
    image={{
      src: '~/assets/images/Sena-bw.jpg',
      alt: 'Schedule an appointment',
    }}
  />
<TeamCard
title="Shafeek Seddiq"
subtitle="Let's Work Together"
tagline="Attorney at Law"
bottomtag="Trusts & Estates | Business Law | General Counsel"
actions={[
  {
    variant: 'primary',
    text: 'Contact Me',
    href: '/contact',
    target: '_blank',
  },
  {
    variant: 'primary',
    text: 'See Bio →',
    href: '/our-team/shafeek',
    target: '_blank',
  },
]}
  image={{
    src: '~/assets/images/shafeek-bw.png',
    alt: 'Blueprint Image',
  }}
/>
<TeamCard
title="Esra Nur Bulan"
subtitle="Let's Work Together"
tagline="Attorney at Law"
bottomtag="Immigration Litigation | Immigration "
actions={[
   {
    variant: 'primary',
    text: 'Contact Me',
    href: 'https://wa.me/12024402272',
    target: '_blank',
  },
  {
    variant: 'primary',
    text: 'See Bio →',
    href: '/our-team/esra',
    target: '_blank',
  },
]}
  image={{
    src: '~/assets/images/esra-bw.png',
    alt: 'Blueprint Image',
  }}
/>
<TeamCard
title="Kemal Sahin"
subtitle="Let's Work Together"
tagline="Law Clerk"
bottomtag="General Counsel Advisory | Intellectual Property Law"
actions={[
  {
    variant: 'primary',
    text: 'Contact Me',
    href: 'https://wa.me/12024402272',
    target: '_blank',
  },
  {
    variant: 'primary',
    text: 'See Bio →',
    href: '/our-team/kemal',
    target: '_blank',
  },
]}
/>
<TeamCard
title="S. Selman Kilic"
subtitle="Let's Work Together"
tagline="Law Clerk"
bottomtag="Law Litigation | Corporate Law | Immigration Law"
actions={[
  {
    variant: 'primary',
    text: 'Contact Me',
    href: 'https://wa.me/12024402272',
    target: '_blank',
  },
  {
    variant: 'primary',
    text: 'See Bio →',
    href: '/our-team/selman',
    target: '_blank',
  },
]}
/>
<div class="w-full">
<TeamCard
subtitle="Dr. Murat Y."
tagline="Office Manager"
actions={[
  {
    variant: 'primary',
    text: 'Contact Me',
    href: 'https://wa.me/12024402272',
    target: '_blank',
  },
]}
/>
</div>
<div class="w-full grid grid-cols-1 md:grid-cols-2 gap-4">
  <TeamCard
    title=""
    subtitle="Dr. Burak C."
    tagline="Case Manager"
    bottomtag=""
  />
  <TeamCard
    title=""
    subtitle="Mikayil G."
    tagline="Case Manager"
    bottomtag=""
  />
  <TeamCard
    title=""
    subtitle="Dr. Ahmet B."
    tagline="Case Manager"
    bottomtag=""
  />
  <TeamCard
    title=""
    subtitle="Yasin D."
    tagline="Case Manager"
    bottomtag=""
  />
</div>
<div class="w-full">
<TeamCard
title=""
subtitle="Kilare M."
tagline="Legal Assistant"  
bottomtag=""
actions={[
  {
    variant: 'primary',
    text: 'Contact Me',
    href: 'https://wa.me/12024402272',
    target: '_blank',
  },
]}
/>
</div>
  </div>

  
  
</Layout>
