---
import Layout from '~/layouts/Layout.astro';
import Header from '~/components/widgets/Header.astro';
import Footer from '~/components/widgets/Footer.astro';
import Announcement from '~/components/widgets/Announcement.astro';
import Chatbox from '~/components/widgets/Chatbox.astro'; // Import Chatbox
import { headerData, headerDataTr, footerData, footerDataTr } from '~/navigation';
import { getLangFromUrl } from '~/i18n/utils';
import type { MetaData } from '~/types';
import type { Props as HeaderProps } from '~/components/widgets/Header.astro';

export interface Props {
  metadata?: MetaData;
}

const { metadata } = Astro.props;
// determine language from the current URL and pick the appropriate header dataset
const lang = getLangFromUrl(new URL(Astro.url));
const header = lang === 'tr' ? headerDataTr : headerData;
// pick footer data set based on detected language (same logic as header)
const footer = lang === 'tr' ? footerDataTr : footerData;
---

<Layout metadata={metadata}>
  <slot name="announcement">
    <Announcement />
  </slot>
  <slot name="header">
    {/* Select headerData based on detected language */}
    <Header {...header as HeaderProps} isSticky />
  </slot>
  <main>
    <slot />
  </main>
  <slot name="footer">
    <Footer {...footer} />
  </slot>
  <Chatbox /> <!-- Add Chatbox here -->
</Layout>